$blue: #3c2a99;
$lightBlue: #99a3ff;
$green: #00a658;
$lightGreen: #7acca6;
$lightGray: #bdbdbd;
$midGray: #828282;
$darkGray: #333333;

.contacts-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  background-color: white;
}

// HEADER //

.contacts-header-background {
  position: absolute;
  width: 100vw;
  height: 86px;
  top: 0;
  background-color: $blue;
  z-index: 0;
  border-bottom: 1px solid #4631b3;
}
.contacts-header-container {
  max-width: 1280px;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 86px;
}

@media (max-width: 1400px) {
  .contacts-header-container-left {
    margin-left: 20px;
  }
}

.contacts-header-container__menu {
  display: none;
}

.contacts-header-container__menu > .header-menu__item {
  text-decoration: none;
  color: white;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

.contacts-header-container__menu > .header-menu__item::after {
  content: "";
  border-bottom: 2px solid white;
  display: block;
  width: 0px;
}

.header-menu__item:hover::after {
  width: 100%;
  height: 2px;
  right: 0;
  transition: 0.5s;
}

.contacts-header-container__contacts {
  display: none;
}

@media (min-width: 1200px) {
  .contacts-header-container__menu {
    display: flex;
    width: auto;
    height: 20px;
    gap: 60px;
    font-family: "Roboto Condensed";
  }

  .contacts-header-container__menu > a:nth-child(4)::after {
    content: "";
    border-bottom: 2px solid white;
    display: block;
    width: 100%;
    height: 2px;
  }

  .contacts-header-container__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
  }
}

.contacts-header-container__contacts > .header-contacts__phone {
  font-family: "Inter";
  color: $lightGray;
  text-decoration: none;
  &:hover {
    color: white;
    transition: 0.5s;
  }
}

.header-contacts__btn {
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  width: 176px;
  height: 42px;
  transition: 0.5s;
  &:hover {
    background-color: #ffffff13;
    cursor: pointer;
  }
}

.contacts-header-container-left {
  display: flex;
  align-items: center;
  gap: 60px;
}

//  MOB MENU //

.contacts-mob-menu_close {
  display: none;
}

.contacts-header-container__mob-menu.disabled {
  display: none;
}

footer.disabled {
  display: none;
}

.contacts-mob-menu_close.active {
  display: flex;
}

.contacts-header-container__mob-menu {
  display: none;
}

@media (max-width: 420px) {
  .contacts-header-container__mob-menu {
    display: flex;
    z-index: 3;
  }
  header {
    z-index: 3;
  }

  .contacts-header-container {
    margin: 0 20px 0 0;
  }
}

.contacts__mobile-menu-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: $blue;
  font-family: "Roboto Condensed";
  font-size: 36px;
  transform: translateX(-200%);
  transition: all 0.5s ease 0s;
  z-index: 2;
  opacity: 0.2;
}

.contacts__mobile-menu-container.active {
  transform: translateX(0);
  opacity: 1;
}

.contacts-mobile-menu__items {
  display: flex;
  flex-direction: column;
  margin: 60px 0px 0px 40px;
}

.contacts-mobile-menu__items > a {
  text-decoration: none;
  color: $lightGray;
  margin-bottom: 66.6px;
}

.contacts-mobile-menu__items > a:nth-child(4) {
  color: white;
}

.contacts-mobile-contacts__phone {
  font-family: "Inter";
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333333;
}

.contacts-mobile-contacts__btn {
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  width: 176px;
  height: 42px;
  transition: 0.5s;
}
.contacts-mobile-contacts__phone {
  font-family: "Inter";
  color: $lightGray;
  text-decoration: none;
}

//  TITLE  //

.contacts-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $blue;
  color: white;
  //   z-index: 0;
}

.contacts-title-container__content {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
}

.contacts-title-container__text {
  display: flex;
  width: auto;
  flex-direction: column;
  z-index: 1;
}

.contacts-title-text__title {
  grid-area: title;
  font-family: "Bellota";
  font-size: 64px;
  margin: 60px 0 0 0;
}

.contacts-title-text__subtitle {
  font-family: "Roboto Serif";
  max-width: 848px;
  font-size: 20px;
  margin-top: 24px;
  color: $lightBlue;
}

.contacts-title-container__btn {
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  width: 176px;
  height: 42px;
  transition: 0.5s;
  margin: 40px 0 60px 0;
  &:hover {
    background-color: #ffffff13;
    cursor: pointer;
  }
}

.contacts-title-container__img {
  position: absolute;
  width: auto;
  justify-self: flex-end;
  z-index: 0;
}

@media (max-width: 1200px) {
  .contacts-title-text__title {
    font-size: calc(34px + 30 * (100vw / 1440));
  }
}

@media (max-width: 510px) {
  .contacts-title-text__title {
    margin-top: 34px;
  }

  .contacts-title-text__subtitle {
    font-size: 16px;
    margin-top: 20px;
  }

  .contacts-title-container__btn {
    margin: 40px 0 40px 0;
  }
}

//  ADDRESS  //

.contacts-address-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  margin-top: 60px;
}

.contacts__title {
  font-family: "Bellota";
  color: $darkGray;
  font-size: 36px;
  margin: 0;
}

.contacts-address__sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 60px 100px;
  margin-top: 40px;
}

.contacts-address-sub__item {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Serif";
  font-size: 20px;
  color: $darkGray;
  gap: 10px;
}

.contacts-address-sub-item__top {
  font-size: 16px;
  color: $midGray;
}

@media (max-width: 1200px) {
  .contacts__title {
    font-size: calc(24px + 12 * (100vw / 1440));
  }
}

@media (max-width: 510px) {
  .contacts-address__sub {
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h"
      "i i";
    gap: 40px 10px;
    margin-top: 20px;
  }

  .contacts-address-sub__item:nth-child(1) {
    grid-area: a;
  }

  .contacts-address-sub__item:nth-child(2) {
    grid-area: b;
  }
  .contacts-address-sub__item:nth-child(6) {
    grid-area: c;
  }
  .contacts-address-sub__item:nth-child(6) > .contacts-address-sub-item__top {
    width: 120px;
  }
  .contacts-address-sub__item:nth-child(7) {
    grid-area: d;
  }
  .contacts-address-sub__item:nth-child(3) {
    grid-area: e;
  }
  .contacts-address-sub__item:nth-child(4) {
    grid-area: f;
  }
  .contacts-address-sub__item:nth-child(5) {
    grid-area: g;
  }
  .contacts-address-sub__item:nth-child(8) {
    grid-area: h;
  }
  .contacts-address-sub__item:nth-child(9) {
    width: 90%;
    grid-area: i;
    text-align: justify;
  }

  .contacts-address-sub__item {
    font-size: 16px;
    width: 160px;
  }

  .contacts-address-sub-item__sub {
    word-wrap: normal;
  }
}

//  MAP  //

.contacts-map-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  max-width: 1280px;
  margin-top: 56px;
}

#map {
  width: 100%;
  height: 294px;
  border-radius: 5px;
  margin-top: 40px;
}

@media (max-width: 510px) {
  #map {
    height: 217px;
  }
}

//  FORM  //

.contacts-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: 90%;
  max-width: 1280px;
  height: auto;
  margin-top: 83px;
}

.contacts-form__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 40px 0;
  width: 702px;
  height: 56px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}
.contacts-form__input-container.active > label {
  transform: translateY(-30px);
  background-color: white;
  font-size: 14px;
  color: #3c2a99;
}

.contacts-form__input {
  width: 99%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  &:focus {
    outline: 1px solid#3c2a99;
  }
  background-color: white;
}

.contacts-input-label {
  position: absolute;
  margin-left: 12px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 40px;
}

.contacts-form__input-container > textarea {
  height: 320px;
}

.contacts-form__input-container:nth-child(4) {
  justify-content: flex-start;
  height: auto;
  &:hover {
    cursor: text;
  }
}
.contacts-form__input-container:nth-child(4) > label {
  justify-self: flex-start;
  margin-top: 20px;
}

.contacts-form__btn {
  width: 180px;
  height: 42px;
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0 0 59px 0;
  align-self: flex-start;
  transition: 0.5s;
  &:hover {
    background-color: $lightBlue;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .contacts-form-container {
    width: 90%;
  }

  .contacts-form__input-container {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

  .form__input {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .contacts-form__btn {
    width: 100%;
  }
  .contacts-form {
    width: 100%;
  }
  .contacts-form-container {
    margin-top: 60px;
  }
  .contacts-form-container > h1 {
    font-size: 24px;
  }

  .contacts-form__input-container > textarea {
    height: 224px;
  }
}
